[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cardelino"]
	path = cardelino
	url = https://github.com/single-cell-genetics/cardelino
